In [19]:
import pandas as pd
import numpy as np

In [20]:
data = pd.read_csv('zooniverse-online-learning-master/data/zooniverse_all_data.csv')

In [21]:
data

,web-scraper-order,text,section,topic,urls,userMentions,isReply,emojis
0,1604198576-694,Hello - yes to the above suggestions. Please p...,bugreports,Emails from Zooniverse projects now fail to ar...,https://status.zooniverse.org,NaN,NaN,NaN
1,1604198689-999,"hey @team , why is there audio in the field g...",bugreports,audio in field guide,NaN,@team,NaN,NaN
2,1604198607-767,"I should say, you have to be trying to go from...",bugreports,Frame 4 button,NaN,NaN,NaN,NaN
3,1604198528-563,I believe that there are some problems at the ...,bugreports,Possible level-up bug,NaN,NaN,NaN,NaN
4,1604198895-1630,Thank you for flagging this and your construct...,bugreports,Opting out of the level-up popups?,https://github.com/zooniverse/Panoptes-Front-E...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
90496,1604198211-259,"Scattered Light comes in many, many guises in ...",virgo,Virgo O3 glitch classes (placeholder),/projects/zooniverse/gravity-spy/talk/subjects...,NaN,True,NaN
90497,1604198222-261,"For proposing new Virgo glitch classes, please...",virgo,Process for Making New Virgo Classes Official,https://www.zooniverse.org/projects/zooniverse...,NaN,NaN,NaN
90498,1604198211-260,Horizontal lines at medium to high frequencies...,virgo,Virgo O3 glitch classes (placeholder),/projects/zooniverse/gravity-spy/talk/subjects...,NaN,True,NaN
90499,1604198211-257,"On a related note, @dziakj1 has discovered (an...",virgo,Virgo O3 glitch classes (placeholder),/projects/zooniverse/gravity-spy/talk/subjects...,@dziakj1,True,NaN
90500,1604198211-255,"Hello,\nThis is amazing! Thank you so much for...",virgo,Virgo O3 glitch classes (placeholder),NaN,NaN,NaN,NaN

In [22]:
def r_m(x):
    if (x[5]=='nan' and x[6]=='nan'):
        x[0]=np.NaN
    return x

In [23]:
import math
math.isnan(data['userMentions'][0])

True

In [24]:
def isNaN(x):
    return str(x).lower()

In [25]:
data['userMentions'] = data['userMentions'].apply(lambda x: isNaN(x))
data['isReply'] = data['isReply'].apply(lambda x: isNaN(x))

In [26]:
r_m_d = data.apply(lambda x: r_m(x),axis=1)

In [27]:
r_m_d['web-scraper-order']=r_m_d['web-scraper-order'].apply(lambda x: isNaN(x))

In [10]:
d =r_m_d[r_m_d['web-scraper-order']!='nan']

In [28]:
pred =[]
for i in range(0,len(data)):
    if r_m_d['web-scraper-order'][i]!='nan':
        pred.append(0)
    else:
        pred.append(1)

In [29]:
len(pred)

90501

In [30]:
pd.DataFrame({'refertoother':pred}).to_csv('refertoother.csv')